
*{
  margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'poppins', sans-serif;
 }
 .header {
     min-height: 100vh;
     width: 100%;
     background-image: url("C:/Users/Legion/Desktop/explore.png");
     background-position: center;
     background-size: cover;
     
     }
     .container{
         
         padding: 0 7%;
     }
     .header h1{
         font-size: 4vw;
         font-weight: 500;
         color: #fff;
         text-align: center;
         padding-top: 10%;
     }
     nav{
         display: flex;
         align-items: center;
         justify-content: space-between;
         padding: 20px 7%;
     }
     .logo{
         
             
             cursor: pointer;
     }

     .nav-links li{
         list-style: none;
         display: inline-block;
         margin: 10px 30px;
         }
     .nav-links li a{
         text-decoration: none;
         color: #fff;
      
         
     } 
     .navbar-white{
      background: #fff;
      box-shadow: 0 5px 10px rgba(0,0,0,0.05);
     }
     .navbar-white .nav-links li a{
      color: #000;
     }
     .register-btn{
      Background: #ff1;
      color: #000;
      padding: 8px 20px;
      border-radius: 20px;
      text-decoration: none;
      font: size 14px;;
      }
      .about-msg{
        text-align: center;
        margin: 80px 0;
        color: #333;
        font-size: 17px;

    }
    .about-msg h2{
        font: 28px;
        margin-bottom: 30px;
        font-weight: 500;
    }
     .footer{
      margin: 80px 0 10px;
      text-align: center;
     }
  .footer a{
      text-decoration: none;
      color: #000;
      font-size: 22px;
      margin: 0 10px;
  }
  .footer hr{
      background: #999;
      height: 1px;
      width: 100%;
      border: 0;
      margin: 20px 0;
  }
  .footer p{
      padding-bottom: 15px;
  }
 
  